trunk/src/AnkhSvn/Gui/Gui.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gui="http://schemas.studioturtle.net/2007/01/gui/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.studioturtle.net/2007/01/gui/" xmlns="http://schemas.studioturtle.net/2007/01/gui/">
	<xs:complexType name="Imports-Type">
		<xs:complexContent>
			<xs:extension base="gui:Base-Type">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="gui:Import" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Group-Base">
		<xs:complexContent>
			<xs:extension base="gui:Base-Type">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded" minOccurs="0">
						<xs:element ref="gui:Menu" />
						<xs:element ref="gui:MenuRef" />
						<xs:element ref="gui:Button" />
						<xs:element ref="gui:ComboBox" />
						<xs:element ref="gui:ButtonRef" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="id" type="gui:qId" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Menu-Base">
		<xs:complexContent>
			<xs:extension base="gui:Base-Type">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded" minOccurs="0">
						<xs:element ref="gui:Group" />
						<xs:element ref="gui:GroupRef" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="id" type="gui:qId" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="qId">
		<xs:restriction base="xs:string">
			<xs:pattern value="[_a-zA-Z][a-zA-Z0-9_]*(:[a-zA-Z][a-zA-Z0-9_]*)?" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base-Type" abstract="true">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VsGui">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="gui:Imports" minOccurs="0" maxOccurs="1" />
					<xs:element ref="gui:Defines" minOccurs="0" />
					<xs:element ref="gui:UI" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Imports" type="gui:Imports-Type">
	</xs:element>
	<xs:element name="UI">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="gui:Base-Type">
					<xs:sequence>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="gui:GroupRef" />
							<xs:element ref="gui:MenuRef" />
						</xs:choice>
					</xs:sequence>
					<xs:attribute name="packageId" type="gui:qPrefix" use="required" />
					<xs:attribute name="autoBmpId" type="gui:qPrefix" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Menu">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="gui:Menu-Base">
					<xs:sequence>
					</xs:sequence>
					<xs:attribute name="priority" type="gui:intValue" use="required" />
					<xs:attribute name="value" type="gui:intValue" />
					<xs:attribute name="type" type="gui:menuType" use="optional" />
					<xs:attributeGroup ref="gui:menuFlags" />
					<xs:attribute name="name" type="xs:string" use="required" />
					<xs:attribute name="text" type="xs:string" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MenuRef">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="gui:Menu-Base">
					<xs:sequence />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Group">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="gui:Group-Base">
					<xs:sequence>
					</xs:sequence>
					<xs:attribute name="priority" type="gui:intValue" use="required" />
					<xs:attribute name="value" type="gui:intValue" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GroupRef">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="gui:Group-Base">
					<xs:sequence />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Import">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
			<xs:attribute name="include" type="xs:string" />
			<xs:attribute name="prefix" type="xs:string" />
			<xs:attribute name="type" type="xs:string" />
			<xs:attribute name="from" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="intValue">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern value="(0x[0-9A-Fa-f]+)|([0-9]+)" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="menuType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="Toolbar" />
			<xs:enumeration value="ToolWindowToolbar" />
			<xs:enumeration value="Context" />
			<xs:enumeration value="MenuController" />
			<xs:enumeration value="MenuControllerLatched" />
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="menuFlags">
		<xs:attribute name="alwaysCreate" type="gui:trueFalse" />
		<xs:attribute name="defaultDocked" type="gui:trueFalse" />
		<xs:attribute name="defaultInvisible" type="gui:trueFalse" />
		<xs:attribute name="dontCache" type="gui:trueFalse" />
		<xs:attribute name="dynamicVisibility" type="gui:trueFalse" />
		<xs:attribute name="noCustomize" type="gui:trueFalse" />
		<xs:attribute name="notInTBList" type="gui:trueFalse" />
		<xs:attribute name="noToolBarClose" type="gui:trueFalse" />
		<xs:attribute name="textChanges" type="gui:trueFalse" />
		<xs:attribute name="textIsAnchorCommand" type="gui:trueFalse" />
		<xs:attribute name="iconAndText" type="gui:trueFalse" />
	</xs:attributeGroup>
	<xs:simpleType name="trueFalse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true" />
			<xs:enumeration value="false" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Button">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
			<xs:attributeGroup ref="buttonFlags" />
			<xs:attribute name="localizedName" type="xs:string" />
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="commandWellText" type="xs:string" />
			<xs:attribute name="toolTip" type="xs:string" />
			<xs:attribute name="text" type="xs:string" use="required" />
			<xs:attribute name="type" type="gui:buttonType" default="Button" />
			<xs:attribute name="iconId" type="gui:qId" />
			<xs:attribute name="priority" type="gui:intValue" use="required" />
			<xs:attribute name="value" type="gui:intValue" />
			<xs:attribute name="id" type="gui:qId" use="required" />
			<xs:attribute name="menuText" type="xs:string" />
			<xs:attribute name="iconFile" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="buttonFlags">
		<xs:attribute name="noKeyCustomize" type="gui:trueFalse" />
		<xs:attribute name="noButtonCustomize" type="gui:trueFalse" />
		<xs:attribute name="noCustomize" type="gui:trueFalse" />
		<xs:attribute name="pict" type="gui:trueFalse" />
		<xs:attribute name="textOnly" type="gui:trueFalse" />
		<xs:attribute name="iconAndText" type="gui:trueFalse" />
		<xs:attribute name="textContextUseButton" type="gui:trueFalse" />
		<xs:attribute name="textMenuUseButtton" type="gui:trueFalse" />
		<xs:attribute name="textMenuCtrlUseMenu" type="gui:trueFalse" />
		<xs:attribute name="textCascadeUseButton" type="gui:trueFalse" />
		<xs:attribute name="textChanges" type="gui:trueFalse" />
		<xs:attribute name="defaultDisabled" type="gui:trueFalse" />
		<xs:attribute name="defaultInvisible" type="gui:trueFalse" />
		<xs:attribute name="dynamicVisibility" type="gui:trueFalse" />
		<xs:attribute name="dynamicItemStart" type="gui:trueFalse" />
		<xs:attribute name="commandWellOnly" type="gui:trueFalse" />
		<xs:attribute name="allowParams" type="gui:trueFalse" />
		<xs:attribute name="postExec" type="gui:trueFalse" />
		<xs:attribute name="dontCache" type="gui:trueFalse" />
		<xs:attribute name="fixMenuController" type="gui:trueFalse" />
		<xs:attribute name="noShowOnMenuController" type="gui:trueFalse" />
		<xs:attribute name="routeToDocs" type="gui:trueFalse" />
	</xs:attributeGroup>
	<xs:simpleType name="buttonType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Button" />
			<xs:enumeration value="MenuButton" />
			<xs:enumeration value="SplitDropDown" />
			<xs:enumeration value="Swatch" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qPrefix">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern value="[_a-zA-Z][a-zA-Z0-9_]*(:[a-zA-Z][a-zA-Z0-9_]*)?" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Defines">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="gui:Define" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Define">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="gui:qId" />
			<xs:attribute name="value" type="gui:intValue" />
			<xs:attribute name="guid" type="gui:guidValue" />
			<xs:attribute name="string" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="guidValue">
		<xs:restriction base="xs:string">
			<xs:minLength value="36" />
			<xs:maxLength value="36" />
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ComboBox">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
			<xs:attributeGroup ref="gui:comboFlags" />
			<xs:attribute name="localizedName" type="xs:string" />
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="commandWellText" type="xs:string" />
			<xs:attribute name="toolTip" type="xs:string" />
			<xs:attribute name="text" type="xs:string" use="required" />
			<xs:attribute name="type" type="gui:comboBoxType" use="required" />
			<xs:attribute name="priority" type="gui:intValue" use="required" />
			<xs:attribute name="value" type="gui:intValue" />
			<xs:attribute name="id" type="gui:qId" use="required" />
			<xs:attribute name="menuText" type="xs:string" />
			<xs:attribute name="fillCommand" type="gui:qPrefix" use="required" />
			<xs:attribute name="width" type="xs:int" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="comboFlags">
		<xs:attribute name="noKeyCustomize" type="gui:trueFalse" />
		<xs:attribute name="noButtonCustomize" type="gui:trueFalse" />
		<xs:attribute name="noCustomize" type="gui:trueFalse" />
		<xs:attribute name="defaultInvisible" type="gui:trueFalse" />
		<xs:attribute name="dynamicVisibility" type="gui:trueFalse" />
		<xs:attribute name="ommandWellOnly" type="gui:trueFalse" />
		<xs:attribute name="iconAndText" type="gui:trueFalse" />
		<xs:attribute name="filterKeys" type="gui:trueFalse" />
		<xs:attribute name="noAutoComplete" type="gui:trueFalse" />
		<xs:attribute name="caseSensitive" type="gui:trueFalse" />
		<xs:attribute name="stretchHorizontally" type="gui:trueFalse" />
	</xs:attributeGroup>
	<xs:simpleType name="comboBoxType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MRUCombo" />
			<xs:enumeration value="DynamicCombo" />
			<xs:enumeration value="DropDownCombo" />
			<xs:enumeration value="IndexCombo" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ButtonRef">
		<xs:complexType>
			<xs:sequence />
			<xs:attribute name="priority" type="gui:intValue" use="required" />
			<xs:attribute name="id" type="gui:qId" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>